*{
    box-sizing: border-box;
}

:root {
    --success-color: limegreen;
    --error-color: orangered;
}

body{
    background-color: rgb(228, 233, 247);
}


.container{

    background-color: rgba(255, 253, 253, 0.767);
    border: 1px solid black;
    border-radius: 5px;
    
    width: 450px;
    margin: 0px auto;
}

h2{
    text-align: center;
    font-weight: bold;
    font-family: ui-sans-serif;

}

.form_control{

    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    font-size: 20px;
    margin: 0px 20px;

}

.form_control input{
    padding: 8px;
    border: 2px solid rgba(202, 192, 192, 0.582);
    border-radius: 5px;
}

.form_control input:focus{
    outline: 0;
    border-color: rgba(48, 2, 255, 0.582);;
}

.form_control small{
    font-size: 12px;
    color: var(--error-color);
    visibility: hidden;
}

.form_control.error small{
    visibility: visible;
}

.form_control.success input{
    border-color: var(--success-color);
}

.form_control.error input{
    border-color: var(--error-color);
}


button{
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border: 2px solid rgba(202, 192, 192, 0.582);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(14, 110, 255);
}

button a{
    text-decoration: none;
    color: white;
}